<!DOCTYPE html>
<html>

<head>
    <title>Piyush Bangar</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Piyush Bangar's website">
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<body>
    <div class="container">

<!-- -----HOME----- -->
        <div class="home" id="section1">
        <div class="navbar">
            <ul>
                <% var k=0; %>
                <% for(var i=0; i<content.length; i++) { %>
                    <% if(typeof content[i] === 'string') { %>
                    <li><a href= "#<%- ids[k] %>"><%= content[i] %></a></li>
                    <% k=k+1; %>
                    <% } %>
                    <% if(typeof content[i] === 'object') { %>
                    <li onclick="showhidenav()" id="pages-nav-item"><%= content[i][0] %>
                    
                    <ul class="hidden-item" id="pages-nav">
                        <% for(var j=1; j<content[i].length; j++) { %>
                            <li><a href= "#<%- ids[k] %>"><%= content[i][j] %></a></li>
                            <% k=k+1; %>
                        <% } %>
                    </ul>
                    </li>
                    <% } %>
                <% } %>
            </ul>
        </div>
        <div class="header-content">
            <h4><%= greet %></h4>
            <h2><%= name %></h2>
            <h4><%= designation %></h4>
            <p><%= description %></p>

            <div id="benefits" style="display:none;"><%= hiddendescription %></div>
            <div id="opener"><a onclick="return show();">Read More</a></div>

        </div>
        <div class="header-image">
            <img src= <%= avatar.image %> width= <%= avatar.width %> height= <% avatar.height %> >
        </div>
    </div>

<!-- -----ABOUT----- -->
    <div class="about" id="section2">
        <div class="heading"><%= about.heading %></div>
        <div class="about-content">
        <div class="content-box">
            <h4><%= about.content.heading %></h4>
            <p><%= about.content.content %></p>
            <a href="https://bit.ly/piyush_thapar_cv">Download CV</a>
        </div>
        <div class="image-margin">
            <img src= <%= about.avatar %> width= <%= avatar.width %> height= <% avatar.height %> >
        </div>
        <div class="progress-bar">
            <div class="bar">
                <% for(var i=0; i<about.skills.length; i++) { %>
                    <div class="bar-title"><%= about.skills[i].name %></div>
                        <div id="outer-bar">
                            <div id="inner-bar" style = "width: <%- about.skills[i].width %>%"></div>
                        </div>
                <% } %>
            </div>
        </div>
        </div>
    </div>


<!-- -----SERVICES----- -->
    <div class="services" id="section3">
        <div class="second-box">
        <h3 class="heading"><%= services.heading %></h3>
        <div class="content">
            <% for(var i=0; i<services.content.length; i++) { %>
                <div class = 'servicedata'>
                <i><%= services.content[i].img %></i>
                <h3><%= services.content[i].title %></h3>
                <p><%= services.content[i].content %></p>
                </div>
            <% } %> 
        </div>
        </div>
    </div>        


<!-- -----EXPERIENCE----- -->
    <div class="experience" id="section4">
       <h3 class="heading"><%= experience.heading %></h3>
        <div class="content">
            <% for(var i=0; i<experience.content.length; i++) { %>
                <% if(i%2==0) { %>
                    <div class="left">
                    <div class="left-box">
                        <h4><%= experience.content[i].title %></h4>
                        <h5><%= experience.content[i].year %></h5>
                    </div>
                    <div class="left-content">
                        <p><%= experience.content[i].content %></p>
                    </div>
                    </div>
                <% } else { %>
                    <div class="right">
                    <div class="right-content">
                        <p><%= experience.content[i].content %></p>
                    </div>
                    <div class="right-box">
                        <h4><%= experience.content[i].title %></h4>
                        <h5><%= experience.content[i].year %></h5>
                    </div>
                    </div>
                <% } %>
            <% } %> 
        </div> 
    </div>


<!-- -----PROJECT----- -->
    <div class="projects" id="section5">
        <div class="content">
            <% for(var i=0; i<projects.length; i++) { %>
                <% if(i%2!==0) { %>
                    <div class="img-top">
                        <div class="img-top-img">
                            <img src= "<%- projects[i].img %>">
                        </div>
                        <div class="img-top-content">
                            <h4><%= projects[i].title %></h4>
                            <p><%= projects[i].content %></p>
                        </div>
                    </div>
                <% } else { %>
                    <div class="img-bottom">
                        <div class="img-bottom-content">
                            <h4><%= projects[i].title %></h4>
                            <p><%= projects[i].content %></p>
                        </div>
                        <div class="img-bottom-img">
                            <img src= "<%- projects[i].img %>">
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div> 
    </div>


<!-- -----GALLERY----- -->
    <div class="gallery" id="section6">
        <div class="heading">GALLERY</div>
        <div class="container">
        <% for(let i=0; i< gallery.length; i++) { %>
            <div class="container-one">
                <% for(let j=0;j< 3 && i<gallery.length; j++ , i++) {   %>
                    <img onclick="document.getElementById('id01').style.display='block'" id= "gallery-item-one" src="<%= gallery[i]%>">
                    <div id="id01" class="modal">
                    <div class="modal-content">
                    <div class="container">
                        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                        <img src= "<%= gallery[i]%>">
                    </div>
                    </div>
                    </div>
                <% } %>
            </div>
            <div class="container-two">
                <% for(let j = 0; j< 3 && i<gallery.length; j++, i++) { %>
                    <img onclick="document.getElementById('id01').style.display='block'" id= "gallery-item-two" src= "<%= gallery[i]%>">
                    <div id="id01" class="modal">
                    <div class="modal-content">
                    <div class="container">
                        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                        <img src= "<%= gallery[i]%>">
                    </div>
                    </div>
                    </div>
                <% } %>
            </div>
        <% i--; } %>
        </div>

    </div>



<!-- -----TESTIMONIAL----- -->
    <div class="testimonial" id="section7">
        <h3 class="heading"><%= testimonial.heading %></h3>
        <div class="outer-container">
            <div class="container">
                <i class="fa fa-quote-left"></i>
                <div id="a1">
                    <div class="left-img">
                        <img src="<%- testimonial.content[0].img%>" height= "200px" width= "200px">
                    </div>
                    <div class="right-content"><%= testimonial.content[0].content %></div>
                </div>
                <div id="a2">
                    <img src="<%- testimonial.content[1].img%>" width = "80%" height= "250px">
                </div>
                <div id="a3">
                    <div class="content"><%= testimonial.content[2].content%></div>
                </div>
            </div>
        <div class="dots">
            <% for(var i=0; i<testimonial.content.length; i++) { %>
                <span onclick= "changeImgto()" class="dots"></span>
            <% } %>
        </div>
        <div class="testimonialdots">
            <span onclick= "changeImgto(0)" class="dot"></span> 
            <span onclick= "changeImgto(1)" class="dot"></span>
            <span onclick= "changeImgto(2)" class="dot"></span>
        </div>
        </div>
    </div>


<!-- -----CONTACT----- -->
    <div class="contact" id="section8">
        <h3 class="heading"><%= contact.title %></h3>
        <div class="address-bottom">
            <div class="address">
                <h4><%= contact.address.title %></h4>
                <% for(var i=0; i<contact.address.list.length; i++) { %>
                    <div class="address-head">
                        <i class= ""></i>
                        <h5><%= contact.address.list[i].title %></h5>
                        <div class="address-value">
                            <% for(var j=0; j<contact.address.list[i].content.length; j++) { %>
                            <a><%= contact.address.list[i].content[j] %></a>
                            <% } %> 
                        </div>
                    </div>
                <% } %>
            </div>

            <div class="form-box">
                <h4>Get In Touch</h4>
                <form action="#" method="post" action="/resume">
                <div class="form-elem">
                    <label><i id="form-name" aria-hidden="true"></i> Name</label>
                    <input type="text" name="Name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                    <div class="clearfix"></div>
                    <label><i id="form-email" aria-hidden="true"></i>Email</label>
                    <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <div class="clearfix"></div>
                    <label><i id="form-phone" aria-hidden="true"></i>Phone</label>
                    <input type="text" name="Phone" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}" required="">
                    <div class="clearfix"></div>
                    <label><i id="form-message" aria-hidden="true"></i>Message</label>
                    <textarea name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                    <input type="submit" value="Submit" id="submit-form">
                </div>
                </form>
            </div>
        </div>
    </div>    


    </div>


    <<script src="../javascript/javascript.js"></script>

</body>

</html>